<a href="https://colab.research.google.com/github/ahsanproo/AHSAN-MUNEEB-BSE-041-task-and-assignment/blob/main/regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
dataset= pd. read_csv( '/content/Resumes.csv' )
dataset

    id  age  experience  gender     charges
0    1   23         1.2    male     231.111
1    3   24         3.4    male   11223.000
2    4   19         2.0    male   44442.000
3    2   21         3.0    male     555.000
4    5   44         4.0  female    1111.000
5    6   51         5.0    male   44445.000
6    7   34         6.0  female  377338.000
7    8   34        11.0    male  373737.000
8    9   22        12.0    male   77666.000
9   10   24         3.0  female    8888.000
10  12   25         4.0    male    4445.444
11  11   26         2.0  female    2233.555
12  13   27         5.0    male  334422.100
13  14   28         6.0    male     222.000
14  15   29         7.0    male       3.000
15  16   21         8.0    male    7848.000

In [40]:
label =LabelEncoder()
label. fit (dataset.gender.drop_duplicates ( ) )
dataset.gender = label.transform(dataset. gender)
dataset

label.fit(dataset.age.drop_duplicates())
dataset.age = label.transform(dataset.age)
dataset

    id  age  experience  gender     charges
0    1    3         1.2       1     231.111
1    3    4         3.4       1   11223.000
2    4    0         2.0       1   44442.000
3    2    1         3.0       1     555.000
4    5   11         4.0       0    1111.000
5    6   12         5.0       1   44445.000
6    7   10         6.0       0  377338.000
7    8   10        11.0       1  373737.000
8    9    2        12.0       1   77666.000
9   10    4         3.0       0    8888.000
10  12    5         4.0       1    4445.444
11  11    6         2.0       0    2233.555
12  13    7         5.0       1  334422.100
13  14    8         6.0       1     222.000
14  15    9         7.0       1       3.000
15  16    1         8.0       1    7848.000

In [41]:
X_lin = dataset.drop(['charges'], axis =1)
y_lin = dataset[['charges']]

X_lin_train, X_lin_test, y_lin_train, y_lin_test = train_test_split(X_lin, y_lin,test_size=0.3,random_state=42)
Linear_model =LinearRegression()
Linear_model.fit(X_lin_train, y_lin_train)
pred = Linear_model.predict(X_lin_test)
pred

array([[ 57623.04825338],
       [106871.88746996],
       [361574.20747007],
       [279718.93231503],
       [240888.7155484 ]])

In [42]:
Linear_model.score(X_lin_test,pred)

1.0

In [43]:
for idx, col_name in enumerate(X_lin_train.columns):
  print("The coefficient for {} is {}".format(col_name,Linear_model.coef_[0][idx]))

The coefficient for id is -1120.2831995683339
The coefficient for age is 30334.74525826422
The coefficient for experience is 9615.7547079357
The coefficient for gender is 120718.570788496

In [44]:
intercept = Linear_model.intercept_[0]
intercept

-164518.38075986784